@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&display=swap');

html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    min-height: 100%;
}

.homeBackground {
    height: 100vh;
    width: 100vw;
    background: url('../public/img/background-home-desktop.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.destinationBackground {
    height: 100vh;
    width: 100vw;
    background: url('../public/img/background-destination-desktop.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.crewBackground {
    height: 100vh;
    width: 100vw;
    background: url('../public/assets/crew/background-crew-desktop.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navContainer {
    height: 96px;
    width: calc(100% - 55px);
    
    margin-left: auto;
    margin-top: 40px;
    
}

.navBackground {
    height: 96px;
    width: 60%;
    margin-left: auto;
    background: rgb(255, 255, 255, 0.04);
    backdrop-filter: blur(1.5rem);
    
    
}

.navItemsContainer {
    margin-top: 40px;
    width: 70%;
}

.navText {
    color: white;
    font-family: 'Barlow Condensed';
    line-height: 19px;
    letter-spacing: 2.7px;
}

.navLine {
    width: 473px;
    height: 1px;
    background: #FFFFFF;
    margin-top: 50px;
    margin-left: 15%;
    opacity: 0.25;
    z-index: 10;
}

.logo {
    margin-top: 26px;
    width: 70px;
}

.navHome {
    height: 100%;
    position: relative;
    z-index: 1;
}

.navDestination {
    height: 100%;
    position: relative;
    z-index: 1;
}

.navCrew {
    height: 100%;
    position: relative;
    z-index: 1;
}

.navTechnology {
    height: 100%;
    position: relative;
    z-index: 1;
}

.techFocusbar {
    opacity: 0;
    height: 3px;
    width: 7.5rem;
    position: relative;
    background: white;
    z-index: 10;
}

.navTechnology:hover ~ .techFocusbar{
    opacity: 0.5;
}

.techFocusbarSelected {
    opacity: 1;
    height: 3px;
    width: 7.5rem;
    position: relative;
    background: white;
    z-index: 10;
}

.navDestination:hover ~ .destinationFocusbar{
    opacity: 0.5;
}

.destinationFocusbarSelected {
    opacity: 1;
    height: 3px;
    width: 7.7rem;
    position: relative;
    background: white;
    z-index: 10;
}

.navCrew:hover ~ .crewFocusbar{
    opacity: 0.5;
}

.crewFocusbarSelected {
    opacity: 1;
    height: 3px;
    width: 4.5rem;
    position: relative;
    background: white;
    z-index: 10;
}

.navHome:hover ~ .homeFocusbar{
    opacity: 0.5;
}

.homeFocusbarSelected {
    opacity: 1;
     height: 3px;
    width: 4.5rem;
    position: relative;
    background: white;
    z-index: 10;
}

.destinationFocusbar {
    opacity: 0;
    height: 3px;
    width: 7.7rem;
    position: relative;
    background: white;
    z-index: 10;
}

.crewFocusbar {
    opacity: 0;
    height: 3px;
    width: 4.5rem;
    position: relative;
    background: white;
    z-index: 10;
}

.homeFocusbar {
    opacity: 0;
     height: 3px;
    width: 4.5rem;
    position: relative;
    background: white;
    z-index: 10;
}

.homeTextContainer {
    margin-left: 125px;
    height: 382px;
    
    
    flex-basis: 70%;
}

.homeWrapper {
    margin-top: 250px;
}

.homeText1 {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    color: #D0D6F9;
    letter-spacing: 1.5px;
}

.homeText2 {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: normal;
    font-size: 150px;
    line-height: 172px;
    /* identical to box height */
    margin-top: 30px;

    color: #FFFFFF;
}

.homeText3 {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    /* or 178% */
    color: #D0D6F9;
    margin-top: auto;
    
    max-width: 40%;
}

.circleWrapper {
    margin-top: 150px;
    flex-basis: 30%;
}

.exploreCircle {
     align-self: center;
    height: 274px;
    width: 274px;
    background: #FFFFFF;
    border-radius: 50%;
    position: relative;
    
    
}

.exploreCircle:hover  .exploreCircleHover{
    opacity: 1;
    transition: opacity 0.3s;
}

.exploreCircleHover {
    position: absolute;
    height: 375px;
    width: 375px;
    background: rgb(255, 255, 255, 0.25);
    border-radius: 50%;
    bottom: -50px;
    right: -50px;
    opacity: 0;
    z-index: 1;
}

.exploreText {
    position: absolute;
    height: 37px;
    left: 22.63%;
    right: 23.36%;
    top: calc(50% - 37px/2 + 0.5px);

    font-family: 'Bellefair';
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    /* identical to box height */

    letter-spacing: 2px;

    color: #0B0D17;
    z-index: 11;
}

.planetImg {
    display: flex;
    justify-content: center;
    flex-basis: 60%;
    max-height: 472px;
}

.destinationTitle {
    margin-top: 7rem;
    margin-left: 20rem;

    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    /* identical to box height */

    letter-spacing: 4.725px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.destinationTitleNum {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    /* identical to box height */

    letter-spacing: 4.725px;

    color: #FFFFFF;

    mix-blend-mode: normal;
    opacity: 0.25;
}

.planetNavText {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;

    color: #FFFFFF;
}

.destinationContainer {
   
    
    height: 472px;
    flex-basis: 20%;
}

.destinationWrapper {
    margin-top: 100px;
}

.destinationNav {
    width: 65%;
}

.moonFocusbar {
    opacity: 0;
    height: 3px;
    width: 38px;
    background: white;
    position: relative;
    
}

.marsFocusbar {
    opacity: 0;
    height: 3px;
    width: 36px;
    background: white;
    position: relative;
}

.titanFocusbar {
    opacity: 0;
    height: 3px;
    width: 40px;
    background: white;
    position: relative;
}

.europaFocusbar {
    opacity: 0;
    height: 3px;
    width: 54px;
    background: white;
    position: relative;
}


.navMars {
    height: 100%;
}

.navEuropa {
    height: 100%;
}

.navTitan {
    height: 100%;
}

.navMoon {
    height: 100%;
    position: relative;
}

.navMoon:hover ~ .moonFocusbar {
    opacity: 0.5;
}

.moonFocusbarSelected {
    opacity: 1;
    height: 3px;
    width: 38px;
    background: white;
    position: relative;
}

.marsFocusbarSelected {
    opacity: 1;
    height: 3px;
    width: 36px;
    background: white;
    position: relative;
}

.europaFocusbarSelected {
    opacity: 1;
    height: 3px;
    width: 54px;
    background: white;
    position: relative;
}

.titanFocusbarSelected {
    opacity: 1;
    height: 3px;
    width: 40px;
    background: white;
    position: relative;
}

.navMars:hover ~ .marsFocusbar {
    opacity: 0.5;
}

.navEuropa:hover ~ .europaFocusbar {
    opacity: 0.5;
}

.navTitan:hover ~ .titanFocusbar {
    opacity: 0.5;
}

.planetName {
    margin-top: 2.5rem;
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 115px;
    /* identical to box height */


    color: #FFFFFF;
}

.planetDescription {
    margin-top: 1rem;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    /* or 178% */


    color: #D0D6F9;
}

.avgDistance {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    letter-spacing: 2.3625px;
    text-transform: uppercase;

    color: #D0D6F9;
}

.distanceValue {
    margin-top: 1rem;
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 32px;
    /* identical to box height */

    text-transform: uppercase;

    color: #FFFFFF;
}

.footerInfo {
    margin-top: 2rem;
}

.destinationLine {
    margin-top: 3rem;
    width: 444px;
    height: 1px;
    background: #383B4B;
}

.planetDistance {
    margin-right: 5rem;
}

.crewTitle {
    margin-top: 7rem;
    margin-left: 20rem;

    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    /* identical to box height */

    letter-spacing: 4.725px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.crewTitleNum {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    /* identical to box height */

    letter-spacing: 4.725px;

    color: #FFFFFF;

    mix-blend-mode: normal;
    opacity: 0.25;
}

.crewRole {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    /* identical to box height */

    text-transform: uppercase;

    color: #FFFFFF;

    mix-blend-mode: normal;
    opacity: 0.5;
    margin-left: 300px;
}

.crewName {
    width: 700px;
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 64px;
    text-transform: uppercase;

    color: #FFFFFF;
    margin-top: 1rem;
    margin-left: 300px;
}

.crewBio {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    /* or 178% */


    color: #D0D6F9;

    margin-top: 2rem;
    width: 50%;
    margin-left: 300px;
}

.crewContainer {
    margin-top: 200px;
    max-height: 400px;
    flex-basis: 50%;
    justify-content: center;
    
}



.crewWrapper {
    margin-top: auto;
    min-height: 700px;
    align-self: flex-end;
    
}

.dotActive {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #FFFFFF;
}

.dotInactive{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.17;
}

.dotInactive:hover {
    opacity: 0.5;
}

.dotNav {
    margin-top: 50px;
    width: 132px;
    margin-left: 300px;
}

.crewImageContainer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* margin-left: 150px; */
    max-height: 800px;
    flex-basis: 50%;
    
}

.crewImage {
    
}

.technologyBackground {
    height: 100vh;
    width: 100vw;
    background: url('../public/assets/technology/background-technology-desktop.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.technologyTitle {
    margin-top: 7rem;
    margin-left: 20rem;
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    /* identical to box height */

    letter-spacing: 4.725px;

    color: #FFFFFF;
}

.technologyTitleNum {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    /* identical to box height */

    letter-spacing: 4.725px;

    color: #FFFFFF;

    mix-blend-mode: normal;
    opacity: 0.25;
}

.selectionActive {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: white;
    
}

.selectionInactive {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    mix-blend-mode: normal;
    
    border: 1px solid rgb(255, 255, 255, 0.25);
    box-sizing: border-box;
    
    
}

.selectionInactive:hover {
    border: 1px solid rgb(255, 255, 255);
}

.selectionNumActive {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 2px;

    color: #0B0D17;
}

.selectionNumInactive {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 2px;

    color: #FFFFFF;
}

.techHeader {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;

    color: #D0D6F9;
}

.techInfoTitle {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 64px;

    color: #FFFFFF;
    margin-top: 1rem;
}

.techInfoDescription {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    /* or 178% */
    color: #D0D6F9;
    margin-top: 1.5rem;
}

.techInfoBody {
    width: 475px;
    margin-left: 4.5rem;
}

.techInfoContainer {
    width: 100%;
    justify-content: center;
    margin-top: 10rem;
}

.techImage2 {
    display: none;
}

.selectionDots {
    height: 315px;
}

@media (max-width: 768px) {

    html {
        
    }
    .homeBackground {
        background: url('../public/assets/home/background-home-tablet.jpg') no-repeat center center fixed;
    }

    .homeWrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 175px;
    }

    .navLine {
        display: none;
    }

    .navNumber {
        display: none;
    }

    .homeTextContainer {
        margin-top: -100px;
        margin-left: 0;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .homeText1 {
        font-family: 'Barlow Condensed';
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        /* identical to box height */

        text-align: center;
        letter-spacing: 3.375px;

        color: #D0D6F9;
    }

    .homeText2 {
        margin-top: 10px;
    }

    .homeText3 {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        /* or 175% */

        text-align: center;

        color: #D0D6F9;

        margin-top: 0;
    }

    .navContainer {
        margin-top: 0;
        
    }

    .circleWrapper {
        margin-top: 100px;
    }

    .exploreCircle {
        height: 242px;
        width: 242px;
        
    }

    .homeFocusbarSelected {
        width: 2.5rem;
    }

    .navHome {
        width: 72px;
    }

    .destinationBackground {
        
        background: url('../public/assets/destination/background-destination-tablet.jpg') no-repeat center center fixed;
    }

    .destinationWrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 0;
    }

    .destinationContainer {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        margin-top: 40px;
        justify-content: center;
        align-items: center;
    }

    .destinationTitle {
        margin-left: 40px;
        margin-top: 40px;
        width: 272px;
        height: 24px;
        font-size: 20px;
        line-height: 24px;
        /* identical to box height */

        letter-spacing: 3.375px;
        text-transform: uppercase;

        color: #FFFFFF;
    }
    
    .destinationNav {
        margin-left: 0 !important;
    }

    .destinationTitleNum {
        font-size: 20px;
        line-height: 24px;
        /* identical to box height */

        letter-spacing: 3.375px;

        color: #FFFFFF;
    }

    .planetImg {
        margin-left: 0;
        margin-top: 50px;
        height: 300px;
        width: 300px;
    }

    .planetDescription {
        width: 580px;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        /* or 175% */

        text-align: center;

        color: #D0D6F9;

        
    }
    
    .destinationNav {
        width: 300px;
        margin-left: 75px;
    }

    .planetName {
        text-align: center;
    }

    .footerInfo {
        justify-content: center;
    }

    .footerInfo * {
        text-align: center;
    }

    .navDestination {
        width: 123px;
    }

    .destinationFocusbarSelected {
        width: 6rem;
    }

    .crewBackground {
        background: url('../public/assets/crew/background-crew-tablet.jpg') no-repeat center center fixed;
        
    }

    .crewFocusbarSelected {
        
    }

    .crewContainer {
        margin:0;
        justify-content: center;
        align-items: center;
    }

    .crewImageContainer {
        margin:0;
        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
        height: 572px;
        width: 456px;
    }

    .crewTitle {
        margin:0;
        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
    }

    .crewRole {
        font-family: 'Bellefair';
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        /* identical to box height */

        text-align: center;
        text-transform: uppercase;

        color: #FFFFFF;

        mix-blend-mode: normal;
        opacity: 0.5;
        margin-left: 0;
    }

    .crewName {
        font-family: 'Bellefair';
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 46px;
        /* identical to box height */

        text-align: center;
        text-transform: uppercase;

        color: #FFFFFF;
        margin-left: 0;
    }

    .crewBio {
        display: flex;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        /* or 175% */

        text-align: center;

        color: #D0D6F9;
        margin-left: 0;
        justify-content: center;
        align-items: center;
        width: 80%;
    }

    .crewImageContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 572px;
        min-height: 572px;
    }

    .crewImage {
        margin-top: auto;
        max-height: 572px;
    }

    .crewWrapper {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .dotNav {
        margin-left: 0;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .technologyBackground {
        background: url('../public/assets/technology/background-technology-tablet.jpg') no-repeat center center fixed;
    }

    .techWrapper {
        flex-direction: column;
        margin-top: 0;
    }

    .technologyTitle {
        margin-top: 50px;
        margin-bottom: 60px;
        margin-left: 20px;
        font-family: 'Barlow Condensed';
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        /* identical to box height */

        letter-spacing: 3.375px;
        text-transform: uppercase;

        color: #FFFFFF;
    }

    .crewTitleNum {
        font-family: 'Barlow Condensed';
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        /* identical to box height */

        letter-spacing: 3.375px;

        color: #FFFFFF;

        mix-blend-mode: normal;
        opacity: 0.25;
    }

    .techInfoContainer {
        margin-top: 0;
        flex-direction: column;
        order: 2;
        justify-content: center;
        align-items: center;
    }

    .techInfoBody {
        margin-left: 0;
    }

    .selectionDots {
        flex-direction: row;
        height: 100px;
        justify-content: center;
        column-gap: 15px;
        margin-top: 40px;
    }

    .techImage2 {
        display: block;
        order: 1;
    }

    .techImage {
        display: none;
    }

    .techHeader {
        font-family: 'Barlow Condensed';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 2.7px;

        color: #D0D6F9;
        text-align: center;
    }

    .techInfoTitle {
        font-family: 'Bellefair';
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 46px;
        /* identical to box height */

        text-align: center;
        text-transform: uppercase;

        color: #FFFFFF;
    }

    .techInfoDescription {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        /* or 175% */

        text-align: center;

        color: #D0D6F9;
    }

    .selectionActive {
        height: 58px;
        width: 58px;
    }

    .selectionInactive {
        height: 58px;
        width: 58px;
    }

    .selectionNumActive {
        font-size: 24px;
        line-height: 28px;
        /* identical to box height */

        text-align: center;
        letter-spacing: 1.5px;

    }

    .selectionNumInactive {
        font-size: 24px;
        line-height: 28px;
        /* identical to box height */

        text-align: center;
        letter-spacing: 1.5px;
        
    }



}

