@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&display=swap');

html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    min-height: 100%;
}

.homeBackground {
    height: 100vh;
    width: 100vw;
    background: url('../public/img/background-home-desktop.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.destinationBackground {
    height: 100vh;
    width: 100vw;
    background: url('../public/img/background-destination-desktop.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.crewBackground {
    height: 100vh;
    width: 100vw;
    background: url('../public/assets/crew/background-crew-desktop.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navContainer {
    height: 96px;
    width: calc(100% - 55px);
    
    margin-left: auto;
    margin-top: 40px;
    
}

.navBackground {
    height: 96px;
    width: 60%;
    margin-left: auto;
    background: rgb(255, 255, 255, 0.04);
    backdrop-filter: blur(1.5rem);
    
    
}

.navItemsContainer {
    margin-top: 40px;
    width: 70%;
}

.navText {
    color: white;
    font-family: 'Barlow Condensed';
    line-height: 19px;
    letter-spacing: 2.7px;
}

.navLine {
    width: 473px;
    height: 1px;
    background: #FFFFFF;
    margin-top: 50px;
    margin-left: 15%;
    opacity: 0.25;
    z-index: 10;
}

.logo {
    margin-top: 26px;
    width: 70px;
}

.navHome {
    height: 100%;
    position: relative;
    z-index: 1;
}

.navDestination {
    height: 100%;
    position: relative;
    z-index: 1;
}

.navCrew {
    height: 100%;
    position: relative;
    z-index: 1;
}

.navTechnology {
    height: 100%;
    position: relative;
    z-index: 1;
}

.techFocusbar {
    opacity: 0;
    height: 3px;
    width: 150px;
    position: relative;
    background: white;
    z-index: 10;
}

.navTechnology:hover ~ .techFocusbar{
    opacity: 0.5;
}

.techFocusbarSelected {
    opacity: 1;
    height: 3px;
    width: 150px;
    position: relative;
    background: white;
    z-index: 10;
}

.navDestination:hover ~ .destinationFocusbar{
    opacity: 0.5;
}

.destinationFocusbarSelected {
    opacity: 1;
    height: 3px;
    width: 140px;
    position: relative;
    background: white;
    z-index: 10;
}

.navCrew:hover ~ .crewFocusbar{
    opacity: 0.5;
}

.crewFocusbarSelected {
    opacity: 1;
    height: 3px;
    width: 80px;
    position: relative;
    background: white;
    z-index: 10;
}

.navHome:hover ~ .homeFocusbar{
    opacity: 0.5;
}

.homeFocusbarSelected {
    opacity: 1;
     height: 3px;
    width: 80px;
    position: relative;
    background: white;
    z-index: 10;
}

.destinationFocusbar {
    opacity: 0;
    height: 3px;
    width: 140px;
    position: relative;
    background: white;
    z-index: 10;
}

.crewFocusbar {
    opacity: 0;
    height: 3px;
    width: 80px;
    position: relative;
    background: white;
    z-index: 10;
}

.homeFocusbar {
    opacity: 0;
     height: 3px;
    width: 80px;
    position: relative;
    background: white;
    z-index: 10;
}

.homeTextContainer {
    position: absolute;
    height: 382px;
    width: 450px;
    left: 165px;
    top: 387px;
}

.homeText1 {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    color: #D0D6F9;
    letter-spacing: 1.5px;
}

.homeText2 {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: normal;
    font-size: 150px;
    line-height: 172px;
    /* identical to box height */
    margin-top: 30px;

    color: #FFFFFF;
}

.homeText3 {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    /* or 178% */
    color: #D0D6F9;
    margin-top: auto;
}

.exploreCircle {
    position: absolute;
    height: 274px;
    width: 274px;
    background: #FFFFFF;
    border-radius: 50%;
    bottom: 220px;
    right: 220px;
}

.exploreText {
    position: absolute;
    height: 37px;
    left: 22.63%;
    right: 23.36%;
    top: calc(50% - 37px/2 + 0.5px);

    font-family: 'Bellefair';
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    /* identical to box height */

    letter-spacing: 2px;

    color: #0B0D17;
}

.planetImg {
    margin-top: 8rem;
    margin-left: 28rem;
}

.destinationTitle {
    margin-top: 7rem;
    margin-left: 20rem;

    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    /* identical to box height */

    letter-spacing: 4.725px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.destinationTitleNum {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    /* identical to box height */

    letter-spacing: 4.725px;

    color: #FFFFFF;

    mix-blend-mode: normal;
    opacity: 0.25;
}

.planetNavText {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;

    color: #FFFFFF;
}

.destinationContainer {
    width: 445px;
    height: 472px;
    margin-left: 18rem;
    margin-top: 6rem;
}

.moonFocusbar {
    opacity: 0;
    height: 3px;
    width: 38px;
    background: white;
    position: relative;
    
}

.marsFocusbar {
    opacity: 0;
    height: 3px;
    width: 36px;
    background: white;
    position: relative;
}

.titanFocusbar {
    opacity: 0;
    height: 3px;
    width: 40px;
    background: white;
    position: relative;
}

.europaFocusbar {
    opacity: 0;
    height: 3px;
    width: 54px;
    background: white;
    position: relative;
}


.navMars {
    height: 100%;
}

.navEuropa {
    height: 100%;
}

.navTitan {
    height: 100%;
}

.navMoon {
    height: 100%;
    position: relative;
}

.navMoon:hover ~ .moonFocusbar {
    opacity: 0.5;
}

.moonFocusbarSelected {
    opacity: 1;
    height: 3px;
    width: 38px;
    background: white;
    position: relative;
}

.marsFocusbarSelected {
    opacity: 1;
    height: 3px;
    width: 36px;
    background: white;
    position: relative;
}

.europaFocusbarSelected {
    opacity: 1;
    height: 3px;
    width: 54px;
    background: white;
    position: relative;
}

.titanFocusbarSelected {
    opacity: 1;
    height: 3px;
    width: 40px;
    background: white;
    position: relative;
}

.navMars:hover ~ .marsFocusbar {
    opacity: 0.5;
}

.navEuropa:hover ~ .europaFocusbar {
    opacity: 0.5;
}

.navTitan:hover ~ .titanFocusbar {
    opacity: 0.5;
}

.planetName {
    margin-top: 2.5rem;
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 115px;
    /* identical to box height */


    color: #FFFFFF;
}

.planetDescription {
    margin-top: 1rem;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    /* or 178% */


    color: #D0D6F9;
}

.avgDistance {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    letter-spacing: 2.3625px;
    text-transform: uppercase;

    color: #D0D6F9;
}

.distanceValue {
    margin-top: 1rem;
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 32px;
    /* identical to box height */

    text-transform: uppercase;

    color: #FFFFFF;
}

.footerInfo {
    margin-top: 2rem;
}

.destinationLine {
    margin-top: 3rem;
    width: 444px;
    height: 1px;
    background: #383B4B;
}

.planetDistance {
    margin-right: 5rem;
}

.crewTitle {
    margin-top: 7rem;
    margin-left: 20rem;

    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    /* identical to box height */

    letter-spacing: 4.725px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.crewTitleNum {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    /* identical to box height */

    letter-spacing: 4.725px;

    color: #FFFFFF;

    mix-blend-mode: normal;
    opacity: 0.25;
}

.crewRole {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    /* identical to box height */

    text-transform: uppercase;

    color: #FFFFFF;

    mix-blend-mode: normal;
    opacity: 0.5;
}

.crewName {
    width: 700px;
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 64px;
    text-transform: uppercase;

    color: #FFFFFF;
    margin-top: 1rem;
}

.crewBio {
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    /* or 178% */


    color: #D0D6F9;

    margin-top: 2rem;
}

.crewContainer {
    width: 444px;
    max-height: 580px;
    margin-left: 19.9rem;
    margin-top: 10rem;
}

.dotActive {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #FFFFFF;
}

.dotInactive{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.17;
}

.dotNav {
    position: absolute;
    width: 132px;
    bottom: 10rem;
    left: 20rem;
}

.crewImageContainer {
    margin-left: 23.5rem;
    margin-top: 1.6rem;
}

.crewImage {
    position:absolute;
    top:100vh;
    transform:translateY(-100%);
}

.technologyBackground {
    height: 100vh;
    width: 100vw;
    background: url('../public/assets/technology/background-technology-desktop.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.technologyTitle {
    margin-top: 7rem;
    margin-left: 20rem;
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    /* identical to box height */

    letter-spacing: 4.725px;

    color: #FFFFFF;
}

.technologyTitleNum {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    /* identical to box height */

    letter-spacing: 4.725px;

    color: #FFFFFF;

    mix-blend-mode: normal;
    opacity: 0.25;
}

.selectionActive {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: white;
    
}

.selectionInactive {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    mix-blend-mode: normal;
    
    border: 1px solid rgb(255, 255, 255, 0.25);
    box-sizing: border-box;
    
    
}

.selectionNumActive {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 2px;

    color: #0B0D17;
}

.selectionNumInactive {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 2px;

    color: #FFFFFF;
}

.techHeader {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;

    color: #D0D6F9;
}

.techInfoTitle {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 64px;

    color: #FFFFFF;
    margin-top: 1rem;
}

.techInfoDescription {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    /* or 178% */
    color: #D0D6F9;
    margin-top: 1.5rem;
}

.techInfoBody {
    width: 475px;
    margin-left: 4.5rem;
}

.techInfoContainer {
    width: 100%;
    margin-left: 20rem;
    margin-top: 10rem;
}

.selectionDots {
    height: 315px;
}

